@import './base.css';

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.5rem;
  background-color: #f8fafc;
}

#app {
  width: 100%;
  max-width: 1080px;
  font-weight: normal;
}

@media (max-width: 768px) {
  body {
    padding: 1.5rem;
  }
}

@media (max-width: 480px) {
  body {
    padding: 0;
  }
}
